div.selection {
  font-size: 22px;
  display: block;
  text-align: center;
  padding-top: 5%;
}

.episode {
  width: 4em;
  height: 4em;
  line-height: 4em;
}

.flex-container {
  display: flex;
  flex-flow: row wrap;
  margin-top: 1em;
}
