div.selection {
  font-size: 22px;
  display: block;
  text-align: center;
  padding-top: 5%;
}

.episode {
  background-color: lightgrey;
  width: 4em;
  height: 4em;
  border-radius: 50%;
  text-align: center;
  line-height: 4em;
  margin-right: .7em;
  margin-bottom: 1em;
}

.watched {
  background-color: grey;
}

.flex-container {
  display: flex;
  flex-flow: row wrap;
  margin-top: 1em;
}
