div.selection {
  font-size: 22px;
  display: block;
  text-align: center;
  padding-top: 5%;
}

.episode {
  background-color: lightgrey;
  width: 4em;
  height: 4em;
  border-radius: 50%;
  text-align: center;
  line-height: 4em;
}

.watched {
  background-color: grey;
}
