<ion-navbar *navbar>
    <ion-title>Details</ion-title>
</ion-navbar>

<ion-content>
    <div *ngIf="item">
        <ion-card>
            <img [src]="item.thumbnail">
            <ion-card-content>
                <h2 class="card-title">{{item.title}}</h2>
                <p>{{item.description}} <a href="#">More</a></p>
                <button [ngClass]="{'button-outline': !item.subscribed}" (click)="ToggleSubscribe(item)">{{item.subscribed ? 'Unsubscribe' : 'Subscribe'}}</button>
            </ion-card-content>
        </ion-card>
        <ion-card>
            <ion-card-content>
                <!--[ngClass]="{watched: item.watched[seasonIndex][episodeIndex]}"-->
                <h2 class="card-title">Tap watched episodes</h2>
                <div *ngFor="#season of item.watched; #seasonIndex = index;">
                    <h2 class="alert-sub-title">Season # {{seasonIndex + 1}}</h2>
                    <div class="flex-container">
                        <button round clear *ngFor="#episode of season; #episodeIndex = index"
                             (click)="ToggleEpisode(seasonIndex, episodeIndex)" class="episode">{{episodeIndex + 1}}
                        </button>
                    </div>
                </div>
            </ion-card-content>
        </ion-card>
    </div>
</ion-content>
